In [5]:
import pandas as pd

In [6]:
df=pd.read_csv(r'C:\Users\saura\Downloads\IPL Matches 2008-2020.csv')

In [7]:
df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [8]:
df.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [9]:
df.shape[0]

816

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [11]:
df.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [12]:
df.city.mode()

0    Mumbai
Name: city, dtype: object

In [ ]:
# removing the null values from "city"

In [13]:
df1=df['city'].fillna(df.city.mode,inplace=True)

In [14]:
df1=df.city.isnull().sum()

In [15]:
df1

0

In [16]:
df.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [ ]:
# removing the null values from "result_margin"

In [17]:
df.result_margin.mean()

17.321652065081352

In [18]:
median_result=df.result_margin.median()

In [19]:
df2=df['result_margin'].fillna(median_result,inplace=True)

In [20]:
df2=df.result_margin.isnull().sum()

In [21]:
df2

0

In [22]:
df.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin        0
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [ ]:
# removing the null values from "player of the match"

In [23]:
df.player_of_match.mode()

0    AB de Villiers
Name: player_of_match, dtype: object

In [24]:
df3=df['player_of_match'].fillna(df.player_of_match.mode,inplace=True)

In [25]:
df3=df.player_of_match.isnull().sum()

In [26]:
df3

0

In [27]:
df.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      0
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin        0
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [ ]:
# removing the null values from "winner"

In [28]:
df4=df['winner'].fillna(df.winner.mode,inplace=True)

In [29]:
df4=df.isnull().sum()

In [30]:
df4

id                   0
city                 0
date                 0
player_of_match      0
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               0
result               4
result_margin        0
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [ ]:
# removing the null values from result

In [31]:
df5=df['result'].fillna(df.result.mode,inplace=True)

In [32]:
df5=df.isnull().sum()

In [33]:
df5

id                   0
city                 0
date                 0
player_of_match      0
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               0
result               0
result_margin        0
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [ ]:
#removing the null values from "eliminator"

In [34]:
df6=df['eliminator'].fillna(df.eliminator.mode,inplace=True)

In [35]:
df6=df.isnull().sum()

In [36]:
df6

id                   0
city                 0
date                 0
player_of_match      0
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               0
result               0
result_margin        0
eliminator           0
method             797
umpire1              0
umpire2              0
dtype: int64

In [37]:
df.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      0
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               0
result               0
result_margin        0
eliminator           0
method             797
umpire1              0
umpire2              0
dtype: int64

In [38]:
df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,8.0,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [49]:
# TASK 1----how many  cities are use in this ipl and where  plays  the  most match 

df['city'].nunique()

33

In [50]:
df.city.mode()

0    Mumbai
Name: city, dtype: object

In [51]:
# result----33 cities use in this ipl and most plyayed match in mumbai

In [52]:
# TASK2--how many stadium  use in this ipl and most played stadium

In [53]:
df['venue'].nunique()

36

In [54]:
df.venue.mode()

0    Eden Gardens
Name: venue, dtype: object

In [55]:
# result---36 stadium use in this ipl and most played stadium is  "Eden Garden"

In [56]:
#TASK 3--  how many diffrent pepole  won the  man of the match and who won max man of match and also 
# how many times

df.player_of_match.nunique()

234

In [57]:
df.player_of_match.value_counts().head(1)

AB de Villiers    23
Name: player_of_match, dtype: int64

In [58]:
# result---234 diffrent pepole won the man of the match and AB Dvilliers max won the man of the macch
# 23 times

In [59]:
#TASK 4--how many teams participate in this ipl  and   find  semifinalist teams in this ipl.

df.team1.nunique()

15

In [60]:
df['winner'].value_counts().head(4)

Mumbai Indians                 120
Chennai Super Kings            106
Kolkata Knight Riders           99
Royal Challengers Bangalore     91
Name: winner, dtype: int64

In [61]:
# result--15 teams participate in this ipl and 1.MI 2.CSK,3.KKR,4.RCB qualify for the semifinal

In [62]:
# TASK 5-- which team won max toss and which min

df.toss_winner.max()

'Sunrisers Hyderabad'

In [63]:
df.toss_winner.min()

'Chennai Super Kings'

In [64]:
# result---SRH won max and CSK won min

In [65]:
#TASK6 6--which team win by max runs and who won the man of the match

In [66]:
df.loc[df.result_margin.max()==df.result_margin][['winner','team1','team2','player_of_match','result','result_margin']]

,winner,team1,team2,player_of_match,result,result_margin
620,Mumbai Indians,Delhi Daredevils,Mumbai Indians,LMP Simmons,runs,146.0

In [67]:
# result---MI beats DD by 146 runs and simmons win the man of the match

In [68]:
#TASK 7. how many match played in delhi whose any team win by 10 wickets.and who win the man of 
# the match

In [69]:
df.loc[(df["result"]=="wickets") & (df['result_margin']>9) & (df['city']=='Delhi')]

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
483,829757,Delhi,2015-04-26,VR Aaron,Feroz Shah Kotla,0,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Royal Challengers Bangalore,wickets,10.0,N,NaN,M Erasmus,S Ravi

In [70]:
# result---  only one match played in delhi . DD beats RCB by 10 wickets and  V Aaron win the man 
# of the match

In [86]:
# TASK 8--how many times teams win by 10 wkts

len(df.loc[(df["result"]=="wickets") & (df['result_margin']==10)])

14

In [87]:
#result---14 times team win by 10 wtks in this IPL

In [91]:
# TASK 9 how many times team  win by 140  or 140+ runs

len(df.loc[(df["result"]=="runs") & (df['result_margin']>=140)])

3

In [92]:
# result-- 3 times team win by 140 or 140+ runs

In [93]:
#TASK 10---how many match played in  this IPL.

len(df.team1)

816

In [96]:
#TASK 11--how many times games stops due to rain and  find the result with D/L method

len(df.loc[df['method']=='D/L'])

19

In [97]:
#result--19 times games stops due to rain and find the result with D/l method

In [104]:
#TASK 12-- how many times caption win the toss and chose to field first and win by 10 wkts

len(df.loc[(df['toss_decision']=='field') &(df["result"]=="wickets") &(df['result_margin']==10)])

11

In [105]:
#result--11 times caption won the toss and choose to field first  and win by 10 wkts

In [110]:
#TASK 13 How many times caption chose to bat fisrt and win by 100 or 100+ runs and
# find who is the man of the match and this match played where or when 


len(df.loc[(df['toss_decision']=='bat') &(df["result"]=="runs") &(df['result_margin']>=100)])

1

In [111]:
df.loc[(df['toss_decision']=='bat') &(df["result"]=="runs") &(df['result_margin']>=100)][['date','venue','player_of_match']]

           date                                         venue player_of_match
236  2011-05-17  Himachal Pradesh Cricket Association Stadium    AC Gilchrist

In [112]:
# result--only one time this match played 2011-05-17 inHimachal Pradesh Cricket Association Stadium
# and man of the match is Gilchrist

# summary

In [ ]:
# TOTAL CITIES-----33
# TOTAL VENUE------36
#TOTAL TEAM--------15
#TOTAL MATCH-------816
#MAX PLAYER OF THE MATCH-----ABD ,23 TIMES
#SEMIFINALIST---- 1.MI 2.CSK 3.RCB 4.KKR