In [1]:
import pandas as pd

In [2]:
# padas version
pd.__version__

'1.4.2'

In [3]:
# series
list=[2,3,4,5]
list

[2, 3, 4, 5]

In [4]:
pd.Series(list)

0    2
1    3
2    4
3    5
dtype: int64

In [5]:
# empty list
pd.Series([])

C:\Users\saura\AppData\Local\Temp\ipykernel_24444\2936982479.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series([])

Series([], dtype: float64)

In [7]:
# index value giving by manual

df=pd.Series([1,2,3],index=['a','b','c'])
df

a    1
b    2
c    3
dtype: int64

In [8]:
# change dtype
df=pd.Series([1,2,3],index=['a','b','c'],dtype=float)
df

a    1.0
b    2.0
c    3.0
dtype: float64

In [21]:
# data name giving by manual
df=pd.Series([1,2,3],index=['a','b','c'],dtype=float,name='SERIES DATA')
df

a    1.0
b    2.0
c    3.0
Name: SERIES DATA, dtype: float64

In [24]:
# creating series by dictionary
df=pd.Series({'id':1,'name':'a'})
df

id      1
name    a
dtype: object

In [32]:
list=[2,3,4,5,1]
f1=pd.Series(list)
f1

0    2
1    3
2    4
3    5
4    1
dtype: int64

In [33]:
max(f1)

5

In [34]:
min(f1)

1

In [37]:
f1[f1>3]

2    4
3    5
dtype: int64

In [42]:
# series adition
s1=pd.Series([3,4,5])
s1

0    3
1    4
2    5
dtype: int64

In [44]:
s2=pd.Series([10,29,8])
s2

0    10
1    29
2     8
dtype: int64

In [45]:
s1+s2

0    13
1    33
2    13
dtype: int64