In [1]:
import numpy as np
import pandas as pd

In [7]:
df=pd.read_csv(r'C:\Users\saura\Downloads\archive (1)\weight-height.csv')
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [9]:
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [10]:
df.columns

Index(['Gender', 'Height', 'Weight'], dtype='object')

### Data Preprocessing

In [12]:
df=pd.get_dummies(df)
df

         Height      Weight  Gender_Female  Gender_Male
0     73.847017  241.893563              0            1
1     68.781904  162.310473              0            1
2     74.110105  212.740856              0            1
3     71.730978  220.042470              0            1
4     69.881796  206.349801              0            1
...         ...         ...            ...          ...
9995  66.172652  136.777454              1            0
9996  67.067155  170.867906              1            0
9997  63.867992  128.475319              1            0
9998  69.034243  163.852461              1            0
9999  61.944246  113.649103              1            0

[10000 rows x 4 columns]

In [16]:
#use standard sclaer for using 
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
ss.fit(df)

StandardScaler()

In [17]:
df.head(1)

      Height      Weight  Gender_Female  Gender_Male
0  73.847017  241.893563              0            1

In [18]:
x=df.drop(['Gender_Female','Weight'],axis=1)
x

         Height  Gender_Male
0     73.847017            1
1     68.781904            1
2     74.110105            1
3     71.730978            1
4     69.881796            1
...         ...          ...
9995  66.172652            0
9996  67.067155            0
9997  63.867992            0
9998  69.034243            0
9999  61.944246            0

[10000 rows x 2 columns]

In [19]:
y=df['Weight']
y

0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
9995    136.777454
9996    170.867906
9997    128.475319
9998    163.852461
9999    113.649103
Name: Weight, Length: 10000, dtype: float64

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=101)

### LinearRegression

In [21]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [22]:
lr.score(x_test,y_test)

0.9005038976196587

In [29]:
y_pred=lr.predict(x_test)
y_pred

array([167.66203229, 130.26091034, 143.19699566, ..., 116.84332146,
       153.92734502, 127.14261865])

In [24]:
# comparing one element
lr.predict(x_test[:])

array([167.66203229, 130.26091034, 143.19699566, ..., 116.84332146,
       153.92734502, 127.14261865])

In [25]:
y_test

6676    163.632026
6421    141.718207
9834    147.356066
8492    151.275533
9982    177.992066
           ...
372     181.724931
8015    124.954628
6474    110.363797
6071    126.360234
7282    147.964387
Name: Weight, Length: 3000, dtype: float64

In [33]:
# find mse and rmse
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
print("mse:",mse)
print("rmse:",rmse)

mse: 102.34891789597816
rmse: 10.116764200868683

# Ridge and Lasso

In [34]:
from sklearn.linear_model import Ridge,Lasso

In [35]:
rd=Ridge()
rd.fit(x_train,y_train)

Ridge()

In [36]:
rd.score(x_test,y_test)

0.9005115614183001

In [37]:
ls=Lasso()
ls.fit(x_train,y_train)

Lasso()

In [38]:
ls.score(x_test,y_test)

0.8967190672511628

# R-Squared

In [40]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.9005038976196587

# Ploynomial Regression

In [41]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg=PolynomialFeatures(degree=2)